/* Header{
    background-color: aqua;
    text-decoration: none;
} */
/* h3 {
    color: blue;
} */

.mainHeader {
    max-height: 70px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .mainHeader  h3 {
    float: left;
    border-right:1px solid #bbb;
  }
  
  .mainHeader  a:last-child {
    border-right: none;
  }
  
  .mainHeader  a {
    display: block;
    color: white;
    text-align: center;
    height: 100%;
    padding: 14px 16px;
    text-decoration: none;
    /* background-color: #4CAF50; */
  }
  
  .mainHeader a:hover:not(.active) {
    background-color: #4CAF50;
  }
  
  .mainHeader .active {
    background-color: #4CAF50;
  }